<template>
  <div class="home">
   <h1>Home</h1>
    <v-container fluid>
      <v-row dense>
        <v-col v-for="(item, index) in News.articles" :key="index">
          <NewsCard :news="item"/>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import {News} from '@/types';
import NewsCard from '@/components/NewsCard.vue';

@Component({
  components: {
    NewsCard
  },
})
export default class Home extends Vue {
  public mounted(){
    this.$store.dispatch('getNews');
  }

  get News(): News{
    return this.$store.state.news;
  }
}
</script>
