<template>
  <div>
   <WeatherComponent :weather="Weather"/>
  </div>


</template>

<script lang="ts">
import Vue from 'vue';
import {Component} from 'vue-property-decorator';
import {Weather} from '@/types';
import WeatherComponent from '@/components/WeatherComponnent.vue';

@Component({
  components: {
    WeatherComponent
  }
})
export default class Weathers extends Vue {
  public mounted() {
    this.$store.dispatch('getWeather');
  }

  get Weather(): Weather {
    return this.$store.state.weather;
  }
}
</script>

