<template>
  <div>

    <v-navigation-drawer
        v-model="showMenu"
        absolute
        temporary
    >
      <v-list-item>
        <v-list-item-avatar>
          <v-img src="https://randomuser.me/api/portraits/men/78.jpg"></v-img>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>John Leider</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense>
        <v-list-item
            v-for="item in items"
            :key="item.title"
            link
            :to="item.path"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
        app
        fixed
        dark
        color="primary"
    >
      <v-app-bar-nav-icon @click.stop="toggleMenu"></v-app-bar-nav-icon>

      <v-toolbar-title>{{  }}</v-toolbar-title>

    </v-app-bar>

  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {Paths} from '@/types';
import {Getter} from 'vuex-class';
import {topToolbar} from '@/store/modules/topToolbar';

@Component
export default class TopToolbar extends Vue {

  private items: Paths[] = [
    {title: 'Home', icon: 'mdi-view-dashboard', path: '/'},
    {title: 'About', icon: 'mdi-forum', path: '/about'},
    {title: 'Weathers', icon: 'cloud', path: '/weather'},
  ];

  @Getter('title', {namespace: 'topToolbar'}  ) title!: string;

  private showMenu: boolean = false;

  private toggleMenu(): void {

    this.showMenu = !this.showMenu;
    this.Cons();
  }
  private Cons(){
    console.log(this.state.namespace.title)
  }
}
</script>
