<template>
  <v-card
      class="mx-auto"
      max-width="400"
  >
    <v-img
        class="white--text align-end"
        height="200px"
        :src="news.urlToImage"
    >
      <v-card-title>{{news.title}}</v-card-title>
    </v-img>

    <v-card-subtitle class="pb-0">
      {{ news.author }}
    </v-card-subtitle>

    <v-card-text class="text--primary">
      <div>{{ news.content }}</div>

      <div>{{ news.publishedAt }}</div>
    </v-card-text>

    <v-card-actions>
      <v-btn
          color="orange"
          text
      >
        Share
      </v-btn>

      <v-btn
          color="orange"
          text
          :href="news.url"
      >
        Explore
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
    import {Vue, Component, Prop} from 'vue-property-decorator';
    @Component
    export default class NewsCard extends Vue{
      @Prop() public readonly news!: string;
    }
</script>
