<template>
  <div class="div">
    <v-card
        class="mx-auto"
        max-width="400"
    >
      <v-list-item two-line>
        <v-list-item-content>
          <v-list-item-title class="headline">
            {{ weather.name }},{{ weather.sys.country }}
          </v-list-item-title>
          <v-list-item-subtitle v-for="item in weather.weather ">Mon, 12:30 PM,{{ item.description }}
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-card-text>
        <v-row align="center">
          <v-col
              class="display-3"
              cols="6"
          >
            <small>
              {{ parseFloat(-273.5 + weather.main.temp).toPrecision(3) }}&deg;C
            </small>
          </v-col>
          <v-col cols="6">
            <v-img
                src="https://cdn.vuetifyjs.com/images/cards/sun.png"
                alt="Sunny image"
                width="92"
            ></v-img>
          </v-col>
        </v-row>
      </v-card-text>

      <v-list-item>
        <v-list-item-icon>
          <v-icon>mdi-send</v-icon>
        </v-list-item-icon>
        <v-list-item-subtitle>{{ weather.wind.speed }} km/h</v-list-item-subtitle>
      </v-list-item>

      <v-list-item>
        <v-list-item-icon>
          <v-icon>mdi-cloud-download</v-icon>
        </v-list-item-icon>
        <v-list-item-subtitle>{{ weather.main.humidity }}%</v-list-item-subtitle>
      </v-list-item>

<!--      <v-slider-->
<!--          v-model="time"-->
<!--          :max="6"-->
<!--          :tick-labels="labels"-->
<!--          class="mx-4"-->
<!--          ticks-->
<!--      ></v-slider>-->

<!--      <v-list class="transparent">-->
<!--        <v-list-item-->
<!--            v-for="item in forecast"-->
<!--            :key="item.day"-->
<!--        >-->
<!--          <v-list-item-title>{{ item.day }}</v-list-item-title>-->

<!--          <v-list-item-icon>-->
<!--            <v-icon>{{ item.icon }}</v-icon>-->
<!--          </v-list-item-icon>-->

<!--          <v-list-item-subtitle class="text-right">-->
<!--            {{ item.temp }}-->
<!--          </v-list-item-subtitle>-->
<!--        </v-list-item>-->
<!--      </v-list>-->

<!--      <v-divider></v-divider>-->

<!--      <v-card-actions>-->
<!--        <v-btn text>-->
<!--          Full Report-->
<!--        </v-btn>-->
<!--      </v-card-actions>-->
    </v-card>

  </div>
</template>

<script lang="ts">
import {Vue, Component, Prop} from 'vue-property-decorator';

@Component

export default class WeatherComponent extends Vue {
  @Prop() public readonly weather!: string;

  private forecast: Array<object> = [

    {day: 'Tuesday', icon: 'mdi-white-balance-sunny', temp: '24\xB0/12\xB0'},
    {day: 'Wednesday', icon: 'mdi-white-balance-sunny', temp: '22\xB0/14\xB0'},
    {day: 'Thursday', icon: 'mdi-cloud', temp: '25\xB0/15\xB0'},

  ];

  private labels: Array<string> = [
    'SU', 'MO', 'TU', 'WED', 'TH', 'FR', 'SA',
  ];
  private time =0;

}
</script>

<style>

</style>
